/* body{
  background-color: #000;
  color: white;
}

.clr-red{
  color:#de0000;
}
.clr-white{
  color:#fff;
}
.clr-black{
  color:#000;
}
.bg-red{
  background-color: #de0000;
}
.bg-white{
  background-color: #fff;
}
.bg-black{
  background-color: #000;
} */